.view {
    position: relative;
    top: 50px;
}

.th {
    position: sticky;
    top: 55px;
    background: white;
    height: 35px;
    z-index: 100;
    border-bottom: 1px solid grey;
}

.itemrow {
    display: flex;
}

.widget {
    margin: 10px 0;
}

.input {
    width: 100px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table > thead {
    height: 50px;
    background-color: var(--greyLight);
}

.table > tbody > :nth-child(even) {
    background-color: var(--greyLight);
}

.cell {
    padding: 0 5px;
    border: 1px solid var(--greyDark);
}

.red {
    border: 1px solid var(--signalRed);
}

.smallInputCell {
    width: 100px;
}

.inputCell {
    width: 200px;
}

.catsCell {
    width: 650px;
}

.buttonsCell {
    width: 220px;
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
}

.checkBoxDiv {
    margin: 3px;
    padding: 2px 4px;
    max-width: fit-content;
}
.name {
    min-width: 250px;
}

.ops {
    display: flex;
}

.button,
.deleteButton {
    min-width: unset;
    width: 45px;
    font-weight: bolder;
}
.button {
    color: var(--greenLight);
}

.deleteButton {
    color: var(--signalRed);
}
.newButton {
    min-width: unset;
}

.buttons {
    width: 90px;
}
