.row {
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    max-width: 600px;
    justify-content: space-between;
    border-bottom: 1px solid var(--greyDark);
    line-height: 40px;
}

.view {
    position: relative;
    top: 50px;
}

.button > * {
    color: var(--signalRed);
}

.catname {
    margin-left: 5px;
}
