.show {
    display: show;
}

.hide {
    display: none;
}

.modal {
    position: fixed;
    z-index: 2000;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.loader {
    position: absolute;
    left: calc(50% - 35px);
    top: 40%;
    z-index: 2002;
    border: 10px solid #c8c8c8;
    border-radius: 50%;
    border-top: 10px solid var(--blueDark);
    border-bottom: 10px solid var(--blueDark);
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loaderBackground {
    width: 100%;
    height: 100%;
    z-index: 2002;
    left: 0;
    top: 50px;
    opacity: 0.91;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}