.labelSpan {
    font-weight: bolder;
    line-height: 35px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    min-height: 35px;
}

.select {
    width: 160px;
}

.input {
    width: 160px;
}

.left {
    width: 50%;
    margin: 10px;
}

.main {
    width: 100%;
}

.message {
    margin: 10px;
}

.messageTitle {
    margin: 0 10px;
}