:root {
    --cell-height: 35px;
}

.root,
.root *,
.root > * {
    box-sizing: border-box;
}
.root {
    margin: 20px 0;
}

.header {
    display: table-header-group;
    font-weight: bolder;
    background-color: var(--greyLight);
    width: 100%;
}

.table {
    font-size: 13px;
    width: 100%;
    display: table;
    border: 1px solid var(--greyDark);
    border-left: none;
}

.body {
    display: table-row-group;
}

.cell {
    height: var(--cell-height);
    line-height: var(--cell-height);
    border-left: 1px solid var(--greyDark);
    box-sizing: border-box;
    padding: 0 5px;
    display: table-cell;
}

.row {
    display: table-row;
}

.greyRow {
    background-color: var(--greyLight);
}

.sortableHeader {
    cursor: pointer;
    color: var(--blueDark);
}

.footer {
    width: 100%;
    display: flex;
    height: var(--cell-height);
    line-height: var(--cell-height);
    justify-content: center;
}

.pageNumber {
    text-align: center;
    color: var(--blueDark);
    width: 25px;
    border-bottom: 1px solid var(--blueDark);
    margin: 0 10px;
    height: var(--cell-height);
    line-height: var(--cell-height);
    vertical-align: bottom;
}

.pageNumberSelected {
    font-weight: bold;
    color: var(--blueDark60k);
    border-bottom: 1px solid var(--blueDark);
}

.pageNumber:hover {
    cursor: pointer;
}

.signalred {
    color: var(--signalRed);
    font-weight: 600;
}

.radios {
    display: flex;
    justify-content: space-evenly;
    line-height: 15px;
}

.radioTitle {
    color: red;
    padding: 0 5px;
    line-height: 15px;
}
