.op_main {
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 60px;
    z-index: 100;
    box-sizing: border-box;
}
.button,
.op_delButton,
.op_saveButton {
    width: 145px;
    min-width: unset;
}
.op_delButton {
    color: var(--signalRed);
    width: min-content;
}
.op_delButton:disabled {
    background-color: var(--color-background-faded);
    border-color: var(--color-border);
    color: var(--color-text-faded);
    cursor: default;
}

.op_saveButton {
    border-color: var(--greenLight);
    color: var(--greenLight);
}

.op_btnWrapper {
    padding: 0 5px 5px 0;
}

.main {
    padding-bottom: 50px;
}

.title {
    margin: 10px;
}

.widget {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    min-height: fit-content;
    height: 100%;
}

.d_content {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
.cancel {
    color: var(--signalRed);
}
.icon {
    font-size: 15px;
}
