.container {
    margin-right: 25px;
    width: calc(100% / 3 - 25px);
    min-width: 230px;
    box-sizing: border-box;
    padding-bottom: 30px;
    background-color: var(--alabaster);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}
.last {
    width: calc(100% / 3);
    margin-right: 0;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}
.inputWrapper {
    padding: 5px 0;
}

.green {
    padding: 15px 5px;
    padding-left: 0;
    color: var(--greenLight);
    font-size: 18px;
}

.title {
    display: flex;
}
