.cell {
    min-height: 40px;
    line-height: 40px;
    border: 1px solid var(--greyDark);
    border-left: none;
    padding-left: 5px;
}

.main {
    margin: 10px;
}
.pane {
    margin-bottom: 10px;
}
.input {
    width: 80px;
}

.row {
    border-left: 1px solid var(--greyDark);
}

.allCheckboxes {
    display: flex;
}

.checkBoxDiv {
    margin: 0 5px;
}

.table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

.table > tbody > :nth-child(even) {
    background: var(--greyLight);
}

.green {
    background-color: var(--lime) !important;
}
