.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox, .flexboxCenter {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

.flexcontainerElem {
    margin: 0 10px;
}

.flexbox {
    justify-content: space-between;
}

.flexboxCenter {
    justify-content: center;
}

.buttonAlone, .buttonsblock {
    margin: 20px;
}

.buttonsblock {
    display: flex;
    justify-content: space-between;
}

.buttonAlone {
    text-align: center;
}

.backButton {
    color: var(--greyDark)!important;
    background-color: white!important;
    border: 2px solid var(--greyDark)!important;
    box-shadow: none!important;
    background-image: none!important;
}

.view {
    /* padding: 5px; */
    margin: 0 10px;
    width: 100%;
}

.zebra {
    min-height: 80px;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
}

.widget {
    padding: 10px;
    border: 1px solid var(--greyLight);
    border-radius: 20px;
}

.labelSpan {
    line-height: 40px;
    word-break: break-word;
    max-width: calc(100% - 150px);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .flexcontainerElem {
        margin: 5px;
    }
    .labelSpan {
        max-width: calc(100% - 100px);
    }
    .widget {
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }
}