.main {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    background: rgba(17, 118, 165, 0.8);
    color: white;
    padding: 0 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.link {
    height: 50px;
    min-width: 100px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
}

.link:hover {
    cursor: pointer;
    color: white;
    background: var(--blueLight);
}

.version {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: right;
    padding: 0 10px;
    font-size: 0.8rem;
    color: var(--greyLight);
}
