.view {
    position: relative;
    top: 50px;
}

.container {
    display: flex;
}

.input {
    width: 150px;
}
.button {
    height: 42px;
    width: 42px;
    min-width: unset;
}

.search_main {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: var(--greyLight);
    width: 100%;
    /* border-bottom: 1px solid var(--greyDark); */
    /* line-height: 50px; */
}

.name,
.date,
.search,
.last,
.loadLast {
    line-height: 45px;
    display: flex;
    padding: 3px;
}

.name > *,
.date > *,
.last > * {
    margin: 0 5px;
}
