.main {
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calc {
    align-self: flex-start;
    position: sticky;
    top: 70px;
}

.editor {
    padding: 5px;
    width: 100%;
    max-width: 1100px;
}
