.inputWrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: flex-end;
    margin: 10px 0;
}

.button {
    width: 45px;
    min-width: unset;
}

.container {
    margin: 0 20px;
    position: relative;
    top: 60px;
    width: calc(100% - 60px);
}
