.optContainer {
    display: flex;
    padding: 5px;
}
.input {
    width: 380px;
}

.view {
    position: relative;
    top: 50px;
    padding: 10px;
}

.flex {
    display: flex;
    padding: 4px;
}

.button {
    margin-left: 10px;
    min-width: unset;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    margin-top: 24px;
}

.opts {
    width: 50%;
}

.col {
    flex-direction: column;
}

.col > div {
    margin-bottom: 20px;
}
