.view {
    position: relative;
    top: 50px;
}

.table {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
}

.table > tbody > :nth-child(even) {
    background-color: var(--greyLight);
}

.table > thead {
    background-color: var(--greyLight);
}

.table > thead > th {
    position: sticky;
    top: 55px;
    background: white;
    height: 35px;
    z-index: 100;
}

.cell {
    padding: 5px;
    border: 1px dotted var(--greyDark);
}

.tagCell {
    width: 145px;
}

.priceCell {
    width: 60px;
}
.createCell,
.btnsCell {
    width: 90px;
}

.urlCell {
    width: 250px;
}

.buttons {
    display: flex;
}

.input {
    width: 100%;
}
.button {
    color: var(--greenLight);
}

.button,
.deleteButton {
    min-width: unset;
    width: 45px;
    font-weight: bolder;
}

.deleteButton {
    color: var(--signalRed);
}

.newButton {
    min-width: unset;
}
