.block {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--alabaster);
    max-height: min-content;
    margin: 10px;
}

.value {
    font-size: 15px;
    color: var(--signalRed);
}

.icon {
    font-size: 16px;
    margin-right: 10px;
}

.placeholder {
    margin-top: 10px;
    border-top: 2px solid black;
}
.contact {
    padding: 10px 0;
    font-size: 16px;
    display: flex;
}
