:root {
    --greenLight: #00dd5e;
    --greenDark: #029f45;
    --blueLight: #19b5fe;
    --blueM: #5fc5e8;
    --dojo-blue: #006be6;
    --blueDark: #1176a5;
    --greyDark: #d9d9d9;
    --grey5: #555;
    --greyLight: #f4f4f4;
    --signalRed: #ff3b30;
    --concrete: #f2f2f2;
    --alabaster: #fafafa;
    --lime: rgba(204, 255, 0, 0.8);
}

body > * {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
